node_modules
npm-debug.log
dist
docker-compose.override.yml
.env
*.md
.git
.gitignore
.vscode
coverage
prisma/migrations/*/README.md
prisma/dev.db
generated
*.sqlite
*.log
*.test.ts
*.spec.ts
.idea
*.swp
*.swo
.DS_Store
